
body{
    background-image: linear-gradient(rgb(0, 0, 0) , rgb(0, 0, 0));
    display: flex;
    
    align-items: center;
    justify-content: center;
    overflow:hidden;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(135deg, #667eea 0%, #7952a0 100%); */
}


.mainbox{
    background-color: rgba(255, 255, 255, 0.103);
    box-sizing: border-box;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    width: 300px; /* reasonable default width */
    height: 500px; /* reasonable default height */
    display: flex;
    
    position: relative;
    left: 40px;
    padding: 20px;
    padding-left: 10px;
    transform:scale(1.3);
    backdrop-filter: blur(5px);
    /* box-shadow: 0px 0px 10px rgb(0, 0, 0); */
}

.email:hover{
    transition: 0.4s;
    transform: scale(1.05); 
}

.password:hover{
    transition: 0.4s;
    transform: scale(1.05);
}

.bgimg{
    position:absolute;
    background-position: center center;
    background-size: cover;
    z-index: -1;
}

/* center the .mainbox in the viewport */
html ,body{
    height: 100%;
    margin: 0 px;
}

.welcome{
    padding-left: 30px;
}
 /* If we want the content in the center */

.welcome h1{
    display: inline;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:40px;
    color: white;
    margin: 0 px;
    transition: 1s;
}

.welcome p{
    display: inline;
    font-family: sans-serif;
    line-height: 3px;
    font-size:15px;
    color: white;
    /* transition: 1s; */
}

.email{
    position: fixed;
    /* display: block; */
    padding-bottom: 5px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(48, 48, 48, 0);
    transition: 0.2s;
    padding:10px;
}

.email:hover{
    background-color: white;
    padding-bottom: 30px;
    #email{
        color:rgb(0, 0, 0);
    }
}

#email{
    padding-right: 135px;
    font-size: 10;
    color:white;
}

#emailbox{
    transition: 0.6s;
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 10px;
    color: white;
}

#emailbox:hover{
    color: black;
}

#emailbox:focus{
    outline: none;

}

#emailbox::placeholder{
    color: rgb(148, 148, 148);
}

/* password block below */

.password{
    position: fixed;
    display: block;
    padding-top: 5px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(48, 48, 48, 0);
    transition: 0.2s;
    padding:10px;
}

.password:hover{
    background-color: white;
    
    padding-bottom: 30px;
    #password{
        color:rgb(0, 0, 0);
    }

    .transmod{
        transition: 1S;
        display: block;
        padding-TOP: 40px;
    }
}

#password{
    padding-right: 105px;
    font-size: 10;
    color:white;
}

#passwordbox{
    transition: 1s;
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 10px;
    color: white;
}
#passwordbox:focus{
    outline: none;
}
#passwordbox::placeholder{
    color: rgb(148, 148, 148);
}

#passwordbox:hover{
    color: black;
}



#forgotpass{
    display:inline-block;
    text-decoration: none;
    color: white;
    padding-right: 70px;
    line-height: 40px;
}

#signup{
    display:inline;
    text-decoration: none;
    color: white;
    padding-right: 105px;
    line-height: 30px;
    display:block;
    /* font-style: italic; */
    position: relative;
    padding-right: 125px;
    line-height: 25px;
}

#loginbutton{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    display:flex;
    align-items: center;
    justify-content:center;
    position:absolute;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 140px;
    border: 0px solid rgb(255, 255, 255) ;
    border-radius: 15px;
    background-color: rgb(233, 218, 13);
    transition: 0.5s;
    line-height: 30px;
}

#loginbutton:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#hr{
    transition: 2s;
    position: fixed;
    display: block;
    padding-right: 394px;
    margin-left: -89px;
}

.footer{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#newhere{
    display: inline;
    position: relative;
    color: rgb(255, 255, 255);
    padding-right: 75px;
    font-size: 20px;
    transition: 1s;
    line-height: 10px;
}
    
/* .banner{
    background-color: rgba(255, 255, 255, 0.555);
    border-radius:20px;
    margin-left: 30px;
    padding-left:120px;
    transition: 1s;
}
.banner:hover{
    transition: 0.2s;
    background-color: white;
    margin-left: 30px;
    padding-left:120px;
    padding-right: 0px;
} */

.footlinks a{
    color: white;
    text-decoration: none;
    position: relative;
    /* top: 400px; */
    padding-right: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footlinks{
    bottom: 50px;
    position:absolute;
    margin-left: 90px;
}

@media screen and (max-width: 1024px){
    .mainbox{
        transform:scale(0.8);
    }
    
    .footlinks{
        bottom: 85px;
        font-size: 96%;
    }  
}
